@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/js/site.js"></script>
<a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h2>Şehir Ülke İşlemleri</h2>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-info">Şehir Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Şehir Getir</button>
<button type="button" id="btnaddcity" class="btn btn-outline-warning">Şehir Ekle</button>
<button type="button" id="btndeletecity" class="btn btn-outline-danger">Şehir Sil</button>
<button type="button" id="btnupdatecity" class="btn btn-outline-success">Şehir Güncelle</button>
<br />
<br />

<div id="cityList">
</div>
<br />

<div>
    <input type="text" id="txtid" placeholder="Şehir Id değerini giriniz" class="form-control" />
</div>

<br />

<div>
    <input type="text" id="txtcityid" placeholder="Silinecek Id değerini giriniz" class="form-control" />
</div>

<br />
<br />
<div>
    <input type="text" id="txtcityeditid" placeholder="güncellenecek ID değerini giriniz" class="form-control" />
    <br />
    <input type="text" id="txtcityname" placeholder="güncellenecek şehir değerini giriniz" class="form-control" />
    <br />
    <input type="text" id="txtcitdaynightname" placeholder="güncellenecek gün gece bilgisini giriniz" class="form-control" />
</div>
<br />

<div id="destinationlistbyid">
</div>

<br />
<div>
    <input type="text" id="txtcity" placeholder="Şehir adını giriniz" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Gün-Gece sayısı giriniz" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Fiyat giriniz" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Kapasite giriniz" class="form-control" />
</div>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th> Şehir Adı </th> <th> Gün-Gece </th> <th> Fiyat </th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td> <td>${value.PeriodOfStay}</td> <td>${value.Price} $ </td></tr>`
                });
                tablehtml += "</table>";
                $("#cityList").html(tablehtml);
            }
        });
    });

    $("#btnaddcity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            PeriodOfStay: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/AddCityDestination/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Eklendi");
            }
        });
    });

    $("#btngetbyid").click(x => {
        let id = $("#txtid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/City/GetById/",
            data: { DestinationID: id },
            success: function (func2) {
                let result = jQuery.parseJSON(func2);
                if (result) {
                    let htmlstr = `<table class=table table-bordered><tr><th>Şehir Adı</th><th>Gün-Gece</th><th>Fiyatı</th></tr><tr><td>${result.City}</td><td>${result.PeriodOfStay}</td><td>${result.Capacity}</td></tr></table>`;
                    $("#destinationlistbyid").html(htmlstr);
                } else {
                    $("#destinationlistbyid").html("Bu ID'ye ait bir değer bulunamadı.");
                    $("#destinationlistbyid").html(htmlstr);
                }
            }
        });
    });

    $("#btndeletecity").click(x => {
        let id = $("#txtcityid").val();

        if (confirm("Seçili ID'ye sahip şehri silmek istediğinize emin misiniz?")) {
            $.ajax({
                url: "/Admin/City/DeleteCity/" + id,
                type: "post",
                contentType: "application/json",
                dataType: "json",
                success: function (fun3) {
                    if (fun3 === "success") {
                        alert("Şehir başarıyla silindi.");
                    } 
                },
                error: function () {
                    alert("Bu ID'ye ait bir değer bulunamadı.");
                }
            });
        }
    });

    $("#btnupdatecity").click(function () {
        let values = {
            DestinationID: $("#txtcityeditid").val(),
            City: $("#txtcityname").val(),
            PeriodOfStay: $("#txtcitdaynightname").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/UpdateCity/",
            data: values,
            success: function (fun4) {
                alert("Güncelleme işlemi yapıldı");
            }
        });
    });
</script>

